@import '~bootstrap/scss/bootstrap';


.main {
  display: flex;
  flex-direction: column;

  .navbar_body {
    background-color: #FF6666 !important;
  }

  .content {
    padding: 2rem;
    display: grid;
    grid-gap: 1.5rem;

    .search {
      display: flex;
      flex-wrap: wrap;

      .input_search {
        width: 30%;
      }
    }



    .table_container {
    }
  }

}
